@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FantasyFootball.Models.Team

<div id="leagueForm">
    <h2>Create your team</h2>
    <hr />
    @using (Html.BeginForm())
    {
            @Html.LabelFor(model => model.TeamName)
            @Html.EditorFor(model => model.TeamName)

            <p>Chose the league:</p>
            @Html.DropDownList("LeagueId")

            <input type="submit" value="Create" />
    }
    @Html.ActionLink("Back to FFB home", "Index", "League")
</div>