@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<FantasyFootball.Models.League>

<h3>Your leagues</h3>

@foreach (var league in Model)
{
   
        <h3>@Html.DisplayFor(model => league.Name)</h3>
        <p>@Html.DisplayFor(model => league.Teams)</p>
        <li>@Html.ActionLink("View this team", "Detials", "team", new { id = league.Teams })</li>

}